@import "tailwindcss";

/*–––––––––––––– Global Styling ––––––––––––––*/
:root {
    @font-face {
        font-family: "Gilroy";
        font-weight: 400;
    }
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --dark-blue: #0e216d;
    --primary-blue: #122C91;
    --secondary-blue: #2a6fdb;
    --accent-blue: #03b4b0;
    --border-blue: rgb(14 33 109 / 0.07);

    --primary-black: #171717;

    --secondary-white: #F5F5F5;

    --warning: #ad5000;
}

body {
    width: 100%;
    height: 100vh;
}

#app {
    margin: 0 auto;
    height: 100%;
}


nav {
    padding: 50px;
    margin-bottom: 50px;
    background-color: var(--dark-blue);
    align-items: center;
}

main {
    padding: 0 50px;
}

h1 {
    font-size: 1.5rem;

    @media screen and (min-width: 640px) {
        font-size: 1.8rem;
    }
}

h2 {
    font-size: 1.25rem;

    @media screen and (min-width: 640px) {
        font-size: 1.75rem;
    }
}

h3 {
    font-size: 1rem;

    @media screen and (min-width: 640px) {
        font-size: 1.5rem;
    }
}

h4 {
    font-size: 0.95rem;

    @media screen and (min-width: 640px) {
        font-size: 1.25rem;
    }
}

.section-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-title {
    text-align: center;
    max-width: 400px;
    @media screen and (min-width: 800px) {
        max-width: 600px;
    }
}

.text-small {
    font-size: 0.8rem;
    color: var(--warning)
}

.no-wrap {
    white-space: nowrap;
}
.margin-top {
    margin-top: 20px;
}


.room {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo {
    position: relative;
    left: 10vw;
    max-width: fit-content;
    align-self: center;

    img {
        width: 100%;
        max-width: 400px;
    }
}

.max-w-40px {
    padding: 50px;
}



/*–––––––––––––– Button Styling ––––––––––––––*/
button {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-blue);
    color: #fff;
    cursor: pointer;
    transition: ease-in-out .3s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    min-height: 50px;
    max-height: 50px;
    max-width: fit-content;
    min-width: 150px;

    &:hover {
        background-color: var(--dark-blue);
        transition: ease-in-out .3s;
    }

    &:focus,
    &:focus-visible {
        outline: 8px auto -webkit-focus-ring-color;
    }

    &.outline {
        color: var(--primary-blue);
        border-color: var(--primary-blue);
        background-color: var(--secondary-white);
        &:hover {
            background-color: white;
        }
    }

    &.small {
        min-height: 40px;
        max-height: 40px;
        font-size: 0.9rem;
        padding: 4px 8px;
    }
}

.button-section {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: end;
    gap: 50px;
}


/*–––––––––––––– Input Styling ––––––––––––––*/
.input {
    width: 400px;
    padding: 10px 15px;
    border: rgb(14 33 109 / 0.07) solid 1px;
    border-radius: 5px;
}

input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    & + label {
        position: relative;
        cursor: pointer;
        display: inline-flex;
        align-items: center;

        &::before {
            border: solid 1px var(--border-blue);
            margin-right: 10px;
            width: 20px;
            height: 20px;
            min-width: 20px;
            border-radius: 5px;
            content: ' ';
            display: inline-block;
            background-color: white;
        }
    }

    &:hover {
        & + label {
            &::before {
                background-color: var(--secondary-white);
            }
        }
    }

    &:checked {
        & + label {
            &::after {
                position: absolute;
                content: '';
                background-color: var(--secondary-blue);
                background-image: url('img/tick-icon-white.svg');
                background-repeat: no-repeat;
                background-position: center;
                border: none;
                background-size: 48%;
                height: 20px;
                width: 20px;
                border-radius: 5px;
            }
        }

        &:hover {
            & + label {
                &::after {
                    transition: ease-in-out .3s;
                    background-color: var(--primary-blue);
                }
            }
        }
    }

    &:disabled {
        & + label {
            pointer-events: none;
            cursor: not-allowed;

            &::before {
                border-color: grey;
            }
        }

        &:checked {
            & + label {
                &::after {
                    background-color: dimgrey;
                }
            }
        }
    }
}

label {
    font-weight: 500;
    margin-bottom: 8px;
}