
.game-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .button-section {
        align-self: center;
    }
}

.share-btn {
    align-self: flex-end;
    margin-bottom: 10px;
}

.poker {

}

.players-container {
    width: 100%;
    text-align: start;
    background-color: var(--secondary-white);
    border-radius: 18px;
    padding: 25px  30px;
    height: 60%;
    h3 {
        margin-bottom: 20px;
    }
}

.players {
    align-content: start;
    text-align: left;
    width: 80%;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.player {
    height: 65px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(72, 214, 210, 0.25);
    border-radius: 5px;
}

.vote-card-section {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.vote-option {
    background-color: var(--accent-blue);
    padding: unset;
    min-width: 55px;
    max-width: 55px;
    min-height:70px;
    max-height:70px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 8px;
    &:hover {
        background-color: #058f8c;
        transition: ease-in-out .35s;
    }
    &:focus, &:focus-visible {
        background-color: var(--secondary-blue);
    }
}
