.container-create-btn {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    label {
        margin-left: 8px;
    }
    .text-small {
        max-width: 193px;
        margin-bottom: 8px;
    }
}
